button {
    margin-right: 10px;
}

.border-blue{
  border: 1px solid blue;
}

.border-red{
  border:1px solid red;
}

@media(min-width:800px){
  .row{
    height:50px;
    text-align: center!important;
  }

  div[class*='col']{
    margin-top: auto!important;
    margin-bottom: auto!important;
  }
}

.word-break{
  word-wrap: break-word;
}

.row{
  position:relative;
}

.rowoverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: gray;
  opacity: 0.5;
}

.float-right {
    float: right;
}

.float-left{
  text-align:start;
}
